beautifulsoup4
pytest-playwright
typing
flask
flask_sqlalchemy
flask_jwt_extended
flask_cors
pillow
flask_limiter
Flask-Mail
playwright
schedule
gunicorn
flasgger
mariadb
Flask_Migrate
alembic
esprima