{% extends "emails/base_template.html" %}
{% block content %}
    <h1>New Website Added</h1>
    <p>
        The Following site was added: <a href="https://{{ website.base_url }}">{{ website.base_url }}</a>
    </p>
    {% if website.active %}
        <p>Status: Active</p>
    {% else %}
        <p>Status: Inactive</p>
        <p>An Admin must review this site before it becomes active.</p>
    {% endif %}
    <p>
        The accessibility scanner provides automatic scanning of websites. To comply with WCAG 2.1AA standards, please ensure your website meets the necessary requirements.
        <a class="btn" href="{{ client_url }}/websites?id={{ website.id }}">View Website</a>
    </p>
    <p>
        For more information on accessibility standards, visit
        <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">WCAG 2.1AA</a>.
        <br>
        or visit <a href="https://accessibility.rutgers.edu/">Accessibility Rutgers</a> for university recommendations.
    </p>
{% endblock content %}
