{% extends "emails/base_template.html" %}
{% block content %}
    <h1>New Website Added</h1>
    <p>You've added the following site: {{ website.url }}</p>
    {% if website.active %}
        <p>Status: Active</p>
    {% else %}
        <p>Status: Inactive</p>
        <p>An Admin must review this site before it becomes active.</p>
    {% endif %}
    <p>
        The accessibility scanner provides automatic scanning of websites. To comply with WCAG 2.1AA standards, please ensure your website meets the necessary requirements.
        <a href="{{ client_url }}/website/?id={{ website.id }}">View Website</a>
    </p>
    <p>If you'd like to not receive these emails, please visit {{ client_url }}/unsubscribe?token={{ jwt_token }}</p>
{% endblock content %}
